    .header {
        width: 100%;
        background: var(--black-900);
        color: var(--grey);
        font-family: var(--font-2);
        height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: flex-start;
        flex-direction: column;
        font-size: 3.5rem;
        letter-spacing: 0.08rem;
        word-spacing: 0.2rem;
    }